* {
  margin: 0;
  padding: 0;
  font-family: 'Sen'
}

#header {
  background-color: rgb(110, 86, 240);
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  text-shadow: 0px 0px 10px black;
}
#header-clue {
  font-family: 'Staatliches';
  letter-spacing: 5px;
}
#container1 {
  background-color: black;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 5% 0; */
  box-sizing: border-box;
}
#container2 {
  background-color: red;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 5% 0; */
  box-sizing: border-box;
}
#big {
  background-color: yellow;
  display: flex;
  height: 80vh;
  flex-direction: column;
  padding: 2.5% 2.5%;
  box-sizing: border-box;
}
#bottom{
  height: 20%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#new:hover{
  background-color: skyblue;
  color: black;
}
#new{
  width: 80%;
  background-color: blue;
  padding: 10px;
  text-align: center;
  color: white;
  box-sizing: border-box;
  border: 3px solid blue;
  transition-duration: 0.2s;
}

.tile {
  height: 160px;
  width: 160px;
  background-color: aliceblue;
  cursor: pointer;
  border: 2px solid white ;
  transition-duration: 0.2s;
}
.tile:hover{
  box-shadow: 0 0 50px white;
}
.counter{
  box-sizing: border-box;
  position: fixed;
  top: 5vh;
  right: 0;
  background-color: white;
  height: 70px;
  width: 200px;
  padding: 5px 20px;
  border-radius:35px 0 0 35px;
  display: flex;
  justify-content: space-around;
  align-items:center;
  font-family: 'Balsamiq Sans',sans-serif;
  box-shadow: 1px 1px 10px black;
}

#count{
  font-family: 'Staatliches';
  font-size: 2rem;

}
